.shared-resultstable-resultstablemaster tbody tr.highlighted>td {
    background: none;
    background-color: #333 !important;
}
.table th, .table td {
    border-top: none;
}
.splunk-paginator a.selected, .splunk-paginator a:hover {
    color: #333 !important;
}
#warning {
	background-color: #ff5b5b;
	color: #fff;
	padding: 10px;
	font-size: 14px;
}
#warning a {
	color: #fff;
	text-decoration: underline;
}
#row1 #lookupPanel {
	width: 80% !important;
}
#row1 #shodanPanel {
	width: 20% !important;
}
.success, .warn, .grey {
	padding: 8px 10px;
    margin-left: -10px;
    width: 100%;
    display: block;
}
.success {
    background: #32da81;
}
.warn {
    background: #edaf07;
}
.grey {
    background: #CCC;
}
.input-error {
    color: #bd3232;
    display: block;
    padding: 0 0 10px;
}
.red-border {
    border: 1px solid #bd3232 !Important;
}
#submitData {
    margin: 0 0 !important;
}
