body,.dashboard-body,.footer,.header,.dashboard-cell { 
    background: #333 !important; 
}
.dashboard-cell {
    background: none;
}
.dashboard-panel {
    background: #666 !important;
}
.dashboard-row label, .dashboard-row a {
    color: #fff;
}
a:hover {
    color: #fff;
}
.dashboard-row .dashboard-panel .refresh-time-indicator {
    color: #FFF;
}
.dashboard-header h2, p.description, .nav-footer>li>a { 
    color: #ddd; 
    text-shadow: none; 
}
.dashboard-row .dashboard-panel {
    border: none;
}
.dashboard-row .dashboard-panel .panel-head h3 {
    color: #FFF;
    text-shadow: 0 2px 0 #681111;
}
.table-chrome > thead > tr > th a {
    background-image: none !important;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th { 
    background-color: #414141 !important; 
}
.table {
    background-color: none;
}
.table .table, .table-striped>tbody>tr>td {
    color: white;
}
.table .table, .table-striped>tbody>tr:nth-child(even)>td {
    background-color: #696969 !important;
}
.table-chrome > thead > tr > th, .table-chrome > thead > tr > th a {
    background-image: linear-gradient(to bottom, #888, #666);
    color: white !important;
    text-shadow: none;
}
.table-chrome .sorts a {
    text-decoration: none;
    color: #ddd;
}
.table-chrome .sorts:hover {
    background: none;
    background-color: #333;
}
svg>rect {
    fill: #333 !important;
}
svg text { 
    fill: #fff !important; 
}
.single-value .single-result {
    color: #fff;
}
.splunk-paginator a.selected { 
    background: #000; 
}

